body {
	font-family: 'Architects Daughter', cursive;
}

#nav {
	border: none !important;
	text-align: center;
  }
  
  nav a {
	color: #ffa444 !important;
	font-family: fantasy;
	font-size: 19px !important;
  }
  .Card:hover {
	  box-shadow: 1px 3px 5px rgba(0,0,0,0.1);
  }